distro/rubygems*.tgz
ruby-enterprise-*.tar.gz
fakeroot
!distro/runtime/*/ruby
.ext
.installed.list
*.o
*.so
autom4te.cache
confdefs.h
config.h
config.log
config.status
config.status.lineno
/configure
conftest.c
conftest.er1
mkmf.log
Makefile
largefile.h
.rbconfig.time
enc.mk
encdb.h
insns.inc
insns_info.inc
lex.c
lib/doc
libruby-static.a
miniprelude.c
miniruby
node_name.inc
opt_sc.inc
optinsn.inc
optunifs.inc
parse.c
prelude.c
rbconfig.rb
revision.h
/ruby
transdb.h
vm.inc
vmtc.inc
yasmdata.rb
ext/dl/call.func
ext/dl/callback.func
ext/dl/cbtable.func
ext/dl/dlconfig.h
ext/dl/dlconfig.rb
ext/openssl/extconf.h
ext/win32ole/.document
distro/version.txt
distro/documentation.html
/ruby-enterprise-*
*.dSYM
