Package: ruby-enterprise
Version: 1.8.6-20080810
Section: interpreters
Priority: optional
Architecture: i386
Essential: no
Depends: libc6 (>= 2.6.1-1)
Pre-Depends: 
Suggests: 
Maintainer: Hongli Lai <hongli@phusion.nl>
Conflicts: 
Replaces: 
Provides: 
Installed-Size: 27848
Description: Ruby Enterprise Edition, based on Ruby 1.8.6-p286, with security backports.
